@using MusicLibraryManager.Models 
@model Song

<tr>
	<td>@Model.Title</td>	
	<td>@Model.Artist?.Name</td>
	<td>@Model.Album?.Name</td>
	<td>@Model.Genre</td>
	<td>@Model.ReleaseYear</td>
	<td>
		<div class="table-buttons">
		<a asp-page="Edit" class="btn btn-primary btn-sm" asp-route-id="@Model.Id">Edit</a>		
		<a asp-page="Details" class="btn btn-secondary btn-sm" asp-route-id="@Model.Id">Details</a>	
		<a asp-page="Delete" class="btn btn-danger btn-sm" asp-route-id="@Model.Id">Delete</a>	
		</div>
	</td>
</tr>
