 @page
@using MusicLibraryManager.Models
@model MusicLibraryManager.Pages.Artists.IndexModel

<main>

<header><h1>Artists</h1></header>

<hr />

@if (TempData["StatusMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["StatusMessage"]
    </div>
}
<section>
<a asp-page="Create" class="btn btn-primary btn-lg">Create Artist</a>
</section>

<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        @* @foreach (var artist in Model.Artists)
        {
            <tr>
                <td>@artist.Name</td>
                <td>  
                <div class="table-buttons">
                <a asp-page="/Albums/Index" class="btn btn-primary btn-sm" asp-route-artistId="@artist.Id">Albums</a>    
                
                <a asp-page="Edit" class="btn btn-secondary btn-sm" asp-route-id="@artist.Id">Edit</a>                  

                <a asp-page="Delete" class="btn btn-danger btn-sm" asp-route-id="@artist.Id">Delete</a>   
                </div>            
                </td>
            </tr>
        } *@
        @foreach (var artist in Model.Artists)
{
    <partial name="_ArtistsRow" model="artist" />
}
    </tbody>
</table>

</main>