@page
@model MusicLibraryManager.Pages.Albums.IndexModel

<main>

<header><h1>Albums</h1></header>

<hr />

@if (TempData["StatusMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["StatusMessage"]
    </div>
}
<section>
<a asp-page="Create" class="btn btn-primary btn-lg">Create Album</a>
<a asp-page="/Artists/Index" class="btn btn-secondary btn-lg">Back to Artists</a>
</section>

<hr />

<table class="table">

<thead>
<tr>
    <th>Name</th>
    <th>Year</th>
    <th>Artist</th>
</tr>
</thead>

<tbody>

@* @foreach (var album in Model.Albums)
{
<tr>
    <td>@album.Name</td>
    <td>@album.ReleaseYear</td>
    <td>@album.Artist?.Name</td>
    <td>
        <div class="table-buttons">
        <a asp-page="/Songs/Index" class="btn btn-primary btn-sm" asp-route-albumId="@album.Id">Songs</a>  

        <a asp-page="Edit" class="btn btn-secondary btn-sm" asp-route-id="@album.Id">Edit</a>

        <a asp-page="Delete" class="btn btn-danger btn-sm" asp-route-id="@album.Id">Delete</a>
        </div>
    </td>
</tr>
} *@

    @foreach (var album in Model.Albums)
{
    <partial name="_AlbumsRow" model="album" />
}

</tbody>
</table>

</main>